BasedOnStyle: Google
Language: Cpp
Standard: c++20

ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4

PointerAlignment: Left
ReferenceAlignment: Left

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon

IncludeBlocks: Regroup
SortIncludes: CaseInsensitive

SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInContainerLiterals: false

UseTab: Never
